/* src/styles/global.css */
@import "tailwindcss";
@import "@/styles/language-switcher.css";
@import "@/styles/legal.css";

@theme {
    --color-MainDark: var(--color-black);
    --color-MainLight: var(--color-white);
}

@layer components {
    .h1 {
        @apply text-6xl lg:text-7xl font-bold;
    }
    .h2 {
        @apply text-4xl lg:text-5xl font-semibold;
    }
    .h3 {
        @apply text-2xl lg:text-3xl font-semibold;
    }
    .h4 {
        @apply text-xl lg:text-2xl font-semibold;
    }
    .h5 {
        @apply text-lg lg:text-xl font-semibold;
    }
    .h6 {
        @apply text-base lg:text-lg font-semibold;
    }
    .main-text {
        @apply text-lg;
    }
    .small-text {
        @apply text-sm;
    }
}

@utility rating-star {
    @apply w-5 h-5 lg:w-6 lg:h-6 p-0 text-yellow-400 fill-current;
}

@utility nav-link {
    @apply text-lg text-gray-600 hover:text-black transition;
}

@utility inner-container {
    @apply container mx-auto px-4 max-w-7xl;
}