---
// Star Rating Component
---
    <div class="flex gap-1">
        <!-- 5 Stars -->
        <svg class="rating-star" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 .587l3.668 7.431 8.202 1.192-5.935 5.786 1.402 8.171L12 18.896l-7.337 3.864 1.402-8.171L.13 8.804l8.202-1.192z"></path>
        </svg>
        <svg class="rating-star" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 .587l3.668 7.431 8.202 1.192-5.935 5.786 1.402 8.171L12 18.896l-7.337 3.864 1.402-8.171L.13 8.804l8.202-1.192z"></path>
        </svg>
        <svg class="rating-star" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 .587l3.668 7.431 8.202 1.192-5.935 5.786 1.402 8.171L12 18.896l-7.337 3.864 1.402-8.171L.13 8.804l8.202-1.192z"></path>
        </svg>
        <svg class="rating-star" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 .587l3.668 7.431 8.202 1.192-5.935 5.786 1.402 8.171L12 18.896l-7.337 3.864 1.402-8.171L.13 8.804l8.202-1.192z"></path>
        </svg>
        <svg class="rating-star" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 .587l3.668 7.431 8.202 1.192-5.935 5.786 1.402 8.171L12 18.896l-7.337 3.864 1.402-8.171L.13 8.804l8.202-1.192z"></path>
        </svg>
    </div>
