---
// src/layouts/Header.astro
/**
 * Site Header with Navigation
 */
import ContentRenderer from "@/components/ContentRenderer/ContentRenderer.astro";
import { query, sortBy } from "@/utils/query";
import { siteData } from "@/content/siteData";
import { Image } from "astro:assets";
import Logo from "@/components/Logo.astro";
import PhoneLink from "@/components/Header/PhoneLink.astro";
import HeaderLanguageSwitcher from "@/components/Header/HeaderLanguageSwitcher";
---

<header class="z-[40] bg-white border-b border-gray-200 shadow-sm">
  <div
    class="container mx-auto px-4 max-w-7xl py-2 flex items-center justify-between"
  >
    <div class="flex items-center justify-between w-full">
      <!-- Logo -->
     <Logo size="small" className="w-15"  />

      <div class="flex flex-row-reverse lg:flex-row items-center gap-2 lg:gap-8">
      <!-- Navigation Menu using query -->
      <ContentRenderer
        query={query("menu-items")
          .where((entry) => {
            const menus = entry.data.menu;
            if (Array.isArray(menus)) {
              return menus.some((m) => m.id === "main-menu");
            }
            return menus?.id === "main-menu";
          })
          .orderBy(sortBy("order", "asc"))}
        variant="MenuVariant"
      />

        <!-- Language Switcher -->
      <HeaderLanguageSwitcher client:load />
      
      <!-- Phone Number -->
      <PhoneLink />
      </div>
    </div>
  </div>
</header>
